@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Leaflet map fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Fix for custom markers */
.custom-marker {
  background: transparent !important;
  border: none !important;
}
